body{
    background-color: rgb(160, 70, 43);
    background-image: url("66b7f6e5ad85cdfeab3459f2b5480407.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    font-family: sans-serif;
    transition: 0.5s;
}
li a:hover{
    padding:5px;
    border-radius: 7px;
    background-color:white;
    color: black;
    margin-top: 5px;
}
label,input,button{
    margin: 5 px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 1em;
}
label{
    color: white;
}
input{
    border-style: none;
    outline: none;
    background-color: #333;
    border-bottom: 2px solid white;
}
button{
    padding:5px 20px;
    background-color: green;
    border-color:black;
    border-style:solid;
    border: none;
    outline:none;
}  
button:hover{
    background-color: aliceblue;
    color:green;
}
div{
    border-radius: 10px;
    height: 300px;
    position:relative ;
    left: 40%;
    top:150px;
    padding-left:-10px;
}
div{
    background-image: url("images.jpeg");
    background-size: cover;
    margin-right: 75%;
    padding-top: 50px;
}
div button{
    margin-left: 120px;

}
div p{
    text-align: center;
    color: aliceblue;
}
div a{
    display:flex;
    justify-content: center;
    text-decoration: none;
    
}
div a:hover{
    font-size: 1.2em;
}



       
