body{
    background-color: rgb(160, 70, 43);
    background-image: url("66b7f6e5ad85cdfeab3459f2b5480407.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}
li a:hover{
    background-color:white;
    color: black;
}
div{
    background-image: url("images.jpeg");
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 1em;
    padding: 70px;
    background-color: rgb(66, 141, 66);
    width: 30%;
    text-align: center;
    position: absolute;
    top:35%; 
    left: 200px;  
}
label,input,button{
    margin: 20px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 1em;
}
label{
    color: white;
}
button{
    padding:5px 20px;
    background-color: green;
    border-color:black;
    border-style:solid;
}  
button:hover{
    background-color: aliceblue;
    color:green;
    border-color: green;
}