body{
    background: linear-gradient(to left, #000066 0%, #cc00cc 100%);
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    font-family: sans-serif;
    transition: 0.5s;
}
li a:hover{
    padding:5px;
    border-radius: 7px;
    background-color:white;
    color: black;
    margin-top: 5px;
}
label,input,button{
    margin: 5 px;
    font-family: sans-serif;
    padding: 5px;

}
label{
    font-family: sans-serif;
    color: rgb(8, 8, 8);
}
input{
    border-style: none;
    outline: none;
    background-color:white;
    border-bottom: 2px solid rgb(7, 2, 2);
}
button{
    border-radius: 20px;
    width: 200px;
    background-color: green;
    border-color:black;
    border-style:solid;
    border: none;
    outline:none;
    position: relative;
    left: 90px;
}  
button:hover{
    background-color: aliceblue;
    color:green;
    border: 1px solid green;
}
img{
   position: relative;
   left:80%;
   bottom:43px; 
   
}
h1{
    font-size: 8em;
}

div{
    border-style: outset ;
    box-shadow: 5px solid #333;
    width:30%;
    padding-top:20px;
    padding-left: 10px;
    position: relative;
    top: 150px;
    left:20%;
    border-radius: 10px;
}
div p{
    font-family: sans-serif;
    text-align: center;
    color: rgb(4, 8, 12);
    
}
div a{
    font-family: sans-serif;
    display:flex;
    justify-content: center;
    text-decoration: none;
    position: relative;
    bottom: 20px;
    
}
.p{
    position: relative;
    bottom: 30px;
}
@media  screen and  (max-width: 900px)
{
    body{
        background: linear-gradient(to left, #000066 0%, #cc00cc 100%); 
    }
    button{
        width:100px;
        position: relative;

    }
}
@media screen and (max-width: 600px){
    body{
        background: linear-gradient(to left, #000066 0%, #cc00cc 100%);
    }
    div{
        padding-right: 20%;
        position: relative;
        top: 20px;
        
    }
    label{
        font-size: small;
        
    }
    input{
        width: 100px;
        height: 2px;
    }
    input::placeholder{
        font-size: 10px;

    } 
    button{
        font-size: 10px;
        width:100px;
        padding: 4px;
        height: 15px;
        position: relative;
        left:15px;
    }
    p{
        font-size:small;
        
    }
    a{
        text-align: center;
    }
    li{
        font-size: 8px;
    }
}
    

    

       
